In [13]:
import caveclient

In [14]:
client = caveclient.CAVEclient('h01_c3_flat')

In [15]:
datastack = client.info.get_datastack_info('h01_c3_flat')
datastack

{'proofreading_status_table': None,
 'soma_table': None,
 'viewer_resolution_z': 33.0,
 'segmentation_source': 'graphene://https://local.brain-wire-test.org/segmentation/1.0/h01_full0_v2',
 'proofreading_review_table': None,
 'viewer_resolution_x': 8.0,
 'analysis_database': None,
 'synapse_table': None,
 'description': 'datastack with the flat c3 segmentation applied',
 'viewer_resolution_y': 8.0,
 'viewer_site': 'https://h01-dot-neuroglancer-demo.appspot.com/',
 'local_server': 'https://local.brain-wire-test.org',
 'aligned_volume': {'id': 1,
  'image_source': 'precomputed://gs://h01-release/data/20210601/4nm_raw',
  'name': 'h01',
  'description': 'aligned volume image stack of H01'},
 'cell_identification_table': None}

In [16]:
client.materialize.get_versions()

[47, 65, 68, 69]

In [17]:
version = client.materialize.version
version

69

In [20]:
# get all available tables
client.materialize.get_tables(datastack, version)

HTTPError: 404 Client Error: NOT FOUND for url: https://local.brain-wire-test.org/materialize/api/v2/datastack/%7B'proofreading_status_table':%20None,%20'soma_table':%20None,%20'viewer_resolution_z':%2033.0,%20'segmentation_source':%20'graphene://https://local.brain-wire-test.org/segmentation/1.0/h01_full0_v2',%20'proofreading_review_table':%20None,%20'viewer_resolution_x':%208.0,%20'analysis_database':%20None,%20'synapse_table':%20None,%20'description':%20'datastack%20with%20the%20flat%20c3%20segmentation%20applied',%20'viewer_resolution_y':%208.0,%20'viewer_site':%20'https://h01-dot-neuroglancer-demo.appspot.com/',%20'local_server':%20'https://local.brain-wire-test.org',%20'aligned_volume':%20%7B'id':%201,%20'image_source':%20'precomputed://gs://h01-release/data/20210601/4nm_raw',%20'name':%20'h01',%20'description':%20'aligned%20volume%20image%20stack%20of%20H01'%7D,%20'cell_identification_table':%20None%7D/version/69/tables content: b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>404 Not Found</title>\n<h1>Not Found</h1>\n<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>\n'

In [21]:
# get head of the nucleus table
client.materialize.query_table(table="nucleus_table", 
                               datastack_name="h01_c3_flat", 
                               limit=10)

201 - "Limited query to 10 rows

,id,created,superceded_id,valid,volume,pt_supervoxel_id,pt_root_id,pt_position,bb_start_position,bb_end_position
0,1,2023-05-25 18:29:50.961627+00:00,NaN,t,8825.151160,0,0,"[259891, 165404, 1408]","[258240, 163392, 896]","[262335, 167167, 1551]"
1,2,2023-05-25 18:29:50.963122+00:00,NaN,t,5967.219524,0,0,"[261308, 171181, 1024]","[259968, 169856, 512]","[262463, 172543, 1295]"
2,3,2023-05-25 18:29:50.964208+00:00,NaN,t,3984.051929,0,0,"[256788, 171573, 1408]","[255552, 170688, 1152]","[258367, 173119, 1679]"
3,4,2023-05-25 18:29:50.965195+00:00,NaN,t,3402.721395,0,0,"[254675, 164220, 1280]","[253376, 163072, 1152]","[255679, 165375, 1679]"
4,5,2023-05-25 18:29:50.966061+00:00,NaN,t,2142.618255,0,0,"[258308, 160604, 1536]","[257472, 159744, 1408]","[259327, 161791, 1807]"
5,6,2023-05-25 18:29:50.966947+00:00,NaN,t,3748.197827,0,0,"[259252, 157716, 1792]","[258176, 156544, 1792]","[260351, 159231, 2319]"
6,7,2023-05-25 18:29:50.967815+00:00,NaN,t,3124.790034,0,0,"[256315, 157620, 2176]","[255424, 156800, 2048]","[257599, 159039, 2575]"
7,8,2023-05-25 18:29:50.970471+00:00,NaN,t,4681.648570,0,0,"[261172, 156021, 2048]","[260032, 154816, 1664]","[262975, 157247, 2319]"
8,9,2023-05-25 18:29:50.971360+00:00,NaN,t,2300.961620,0,0,"[261276, 167076, 0]","[260416, 165952, 0]","[263039, 168319, 271]"
9,10,2023-05-25 18:29:50.972181+00:00,NaN,t,8184.026628,0,0,"[258092, 166101, 512]","[256384, 164032, 128]","[260095, 167807, 783]"

In [27]:
# query dbcells table for pyramidal cells
client.materialize.query_table(table="dbcells_dump",
                                  filter_equal_dict = {'cell_type': "PYRAMIDAL"}, 
                                  limit=10)

201 - "Limited query to 10 rows

,id,created,superceded_id,valid,classification_system,cell_type,pt_supervoxel_id,pt_root_id,pt_position
0,13,2023-05-25 20:37:02.944582+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[334046, 102775, 0]"
1,17,2023-05-25 20:37:02.947284+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[320388, 56535, 0]"
2,22,2023-05-25 20:37:02.950718+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[248170, 130637, 0]"
3,27,2023-05-25 20:37:02.954085+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[250765, 102391, 0]"
4,28,2023-05-25 20:37:02.954750+00:00,NaN,t,"0, 0, 256",PYRAMIDAL,0,0,"[144847, 215286, 0]"
5,32,2023-05-25 20:37:02.957316+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[307568, 74186, 0]"
6,55,2023-05-25 20:37:02.972487+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[271266, 72846, 0]"
7,96,2023-05-25 20:37:03.001825+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[329625, 101964, 0]"
8,100,2023-05-25 20:37:03.004845+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[280045, 139533, 0]"
9,101,2023-05-25 20:37:03.005502+00:00,NaN,t,"0, 0, 0",PYRAMIDAL,0,0,"[330951, 85096, 0]"