In [37]:
from caveclient import CAVEclient, chunkedgraph, auth
import pandas as pd

In [14]:
url = "https://global.brain-wire-test.org/"
datastack = "h01_c3_flat"

In [15]:
client = CAVEclient(datastack_name=datastack, server_address=url)

In [16]:
client.materialize.get_versions()

[240, 254, 263, 266, 267]

In [17]:
client.materialize.version = 267
client.materialize.get_tables()

['cells', 'nucleus', 'synapses', 'proofreading_status_test']

In [36]:
synapse_table = client.info.get_datastack_info()["synapse_table"]
df=client.materialize.query_table(synapse_table,
                                  filter_equal_dict = {'pre_pt_supervoxel_id': 0})

print(df)

KeyboardInterrupt:

In [39]:
pd.set_option('display.max_rows', None)

df=client.materialize.query_table('synapses', limit=200)
n = client.materialize.get_annotation_count('synapses')
print(n)
df

201 - "Limited query to 200 rows

149871669

,id,created,superceded_id,valid,size,pre_pt_supervoxel_id,pre_pt_root_id,post_pt_supervoxel_id,post_pt_root_id,pre_pt_position,post_pt_position,ctr_pt_position
0,0,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,0,0,109233937733124148,864691132393451905,"[270395, 161567, 256]","[270389, 161574, 256]","[270393, 161571, 256]"
1,1,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,111971996564193334,864691132265283929,111971996564193364,864691132265091929,"[290329, 114538, 256]","[290337, 114546, 256]","[290332, 114543, 256]"
2,2,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,125898960597418007,864691132361425666,125898960597418007,864691132361425666,"[391940, 69574, 256]","[391951, 69573, 256]","[391946, 69574, 256]"
3,3,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,133717587782533141,864691132067332882,133717587782533141,864691132067332882,"[448800, 126794, 256]","[448811, 126797, 256]","[448805, 126794, 256]"
4,4,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,111753606067126322,864691132224538237,111753606067126322,864691132224538237,"[289086, 60297, 256]","[289079, 60307, 256]","[289084, 60301, 256]"
5,5,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,136821509107744789,864691132194557604,136751140363567123,864691132194557604,"[471044, 183876, 256]","[471037, 183886, 256]","[471041, 183881, 256]"
6,6,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,135412965993086998,864691132291113655,135412965993086995,864691132084725364,"[460876, 175179, 256]","[460864, 175178, 256]","[460870, 175179, 256]"
7,7,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,0,0,117039645656612934,864691132411073530,"[327624, 122703, 256]","[327618, 122715, 256]","[327623, 122709, 256]"
8,8,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,113510900526219284,864691131612460155,0,0,"[301892, 45687, 256]","[301889, 45676, 256]","[301890, 45682, 256]"
9,9,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,114585741861847076,864691132220683558,114585741861847094,864691132082798238,"[309424, 189627, 256]","[309431, 189635, 257]","[309426, 189631, 256]"
10,10,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,87777311914459238,864691131612969338,87777311914459136,864691132393213714,"[114391, 205295, 256]","[114387, 205306, 256]","[114391, 205300, 256]"
11,11,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[339433, 199606, 256]","[339430, 199617, 255]","[339430, 199612, 256]"
12,12,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[439446, 159198, 256]","[439435, 159200, 256]","[439441, 159200, 256]"
13,13,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[292210, 156323, 256]","[292220, 156320, 256]","[292216, 156322, 256]"
14,14,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[349506, 56323, 254]","[349522, 56319, 256]","[349516, 56321, 256]"
15,15,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[447996, 208676, 256]","[448006, 208685, 256]","[448002, 208680, 256]"
16,16,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[256573, 143339, 256]","[256562, 143336, 256]","[256567, 143338, 256]"
17,17,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[232047, 134386, 256]","[232052, 134398, 256]","[232048, 134392, 256]"
18,18,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[356309, 60779, 256]","[356319, 60774, 256]","[356315, 60776, 256]"
19,19,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[459534, 139833, 256]","[459526, 139839, 256]","[459531, 139835, 256]"
20,20,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[331058, 191878, 256]","[331069, 191876, 256]","[331063, 191877, 256]"
21,21,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[176703, 163328, 256]","[176699, 163317, 256]","[176702, 163323, 256]"
22,22,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[268622, 151814, 256]","[268644, 151809, 256]","[268634, 151811, 256]"
23,23,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[346899, 117338, 256]","[346886, 117339, 256]","[346892, 117338, 256]"
24,24,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[346707, 44410, 256]","[346714, 44417, 256]","[346710, 44413, 256]"
25,25,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[288082, 143133, 256]","[288087, 143142, 256]","[288083, 143137, 256]"
26,26,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[372241, 205004, 256]","[372235, 205014, 256]","[372237, 205010, 256]"
27,27,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[326102, 138594, 255]","[326106, 138584, 256]","[326104, 138589, 256]"
28,28,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[224186, 220622, 256]","[224196, 220631, 256]","[224192, 220626, 256]"
29,29,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[440600, 116022, 256]","[440604, 116012, 256]","[440601, 116018, 256]"
30,30,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[322493, 167254, 256]","[322503, 167266, 256]","[322498, 167259, 256]"
31,31,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,87005111154376736,864691131810228848,0,0,"[108751, 218856, 256]","[108741, 218858, 258]","[108746, 218856, 256]"
32,32,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[189183, 246303, 256]","[189194, 246299, 256]","[189189, 246302, 256]"
33,33,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[379786, 78944, 256]","[379797, 78943, 256]","[379792, 78944, 256]"
34,34,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[341228, 184490, 255]","[341232, 184488, 260]","[341228, 184490, 256]"
35,35,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[403448, 178736, 256]","[403451, 178726, 256]","[403448, 178731, 256]"
36,36,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[256808, 151064, 256]","[256817, 151057, 256]","[256812, 151062, 256]"
37,37,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[458662, 211881, 256]","[458668, 211890, 256]","[458664, 211885, 256]"
38,38,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[398213, 105953, 256]","[398218, 105941, 256]","[398216, 105947, 256]"
39,39,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[398223, 219973, 256]","[398215, 219981, 256]","[398220, 219976, 256]"
40,40,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[340920, 174467, 256]","[340914, 174456, 256]","[340918, 174462, 256]"
41,41,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[299664, 189733, 256]","[299652, 189736, 256]","[299658, 189734, 256]"
42,42,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[239537, 144522, 256]","[239532, 144511, 256]","[239536, 144517, 256]"
43,43,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[351581, 140159, 256]","[351593, 140157, 256]","[351587, 140159, 256]"
44,44,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[275432, 63024, 256]","[275444, 63021, 256]","[275438, 63022, 256]"
45,45,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[231112, 260163, 256]","[231123, 260157, 256]","[231118, 260160, 256]"
46,46,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[382415, 117159, 256]","[382407, 117156, 256]","[382413, 117159, 256]"
47,47,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[378412, 231997, 256]","[378414, 231985, 256]","[378413, 231991, 256]"
48,48,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[350457, 68233, 256]","[350467, 68238, 256]","[350462, 68236, 256]"
49,49,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[413143, 80394, 256]","[413135, 80399, 256]","[413139, 80395, 256]"
50,50,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[402007, 109878, 256]","[402006, 109866, 256]","[402006, 109871, 256]"
51,51,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[335309, 183623, 256]","[335320, 183627, 256]","[335315, 183626, 256]"
52,52,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[317044, 220211, 256]","[317038, 220201, 256]","[317041, 220206, 256]"
53,53,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[328091, 181548, 256]","[328093, 181535, 255]","[328093, 181541, 256]"
54,54,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[446897, 113129, 255]","[446920, 113119, 256]","[446914, 113119, 256]"
55,55,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[331058, 124331, 256]","[331047, 124332, 256]","[331052, 124332, 256]"
56,56,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[450408, 174281, 256]","[450407, 174273, 255]","[450408, 174278, 256]"
57,57,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[453406, 120541, 256]","[453415, 120544, 255]","[453412, 120543, 256]"
58,58,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[237865, 125496, 256]","[237865, 125484, 256]","[237865, 125490, 256]"
59,59,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[356170, 120022, 256]","[356159, 120020, 256]","[356164, 120020, 256]"
60,60,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[322250, 47511, 256]","[322254, 47520, 256]","[322251, 47515, 256]"
61,61,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[407159, 68855, 256]","[407147, 68851, 256]","[407153, 68852, 256]"
62,62,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[320348, 115984, 256]","[320348, 115997, 256]","[320348, 115990, 256]"
63,63,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[211332, 150945, 256]","[211323, 150953, 256]","[211327, 150949, 256]"
64,64,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[462506, 148645, 256]","[462514, 148652, 256]","[462509, 148648, 256]"
65,65,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[279140, 171139, 256]","[279150, 171134, 256]","[279146, 171134, 256]"
66,66,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[334153, 232376, 256]","[334164, 232376, 256]","[334158, 232376, 256]"
67,67,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[180412, 137557, 256]","[180404, 137547, 256]","[180408, 137552, 256]"
68,68,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[263297, 75252, 256]","[263294, 75236, 256]","[263297, 75248, 256]"
69,69,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[275905, 219047, 256]","[275916, 219045, 256]","[275911, 219046, 256]"
70,70,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[137388, 177401, 256]","[137399, 177403, 256]","[137394, 177402, 256]"
71,71,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[446573, 225181, 256]","[446561, 225183, 256]","[446567, 225181, 256]"
72,72,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[399156, 175460, 256]","[399152, 175449, 256]","[399153, 175454, 256]"
73,73,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[326037, 248333, 256]","[326027, 248338, 256]","[326032, 248335, 256]"
74,74,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[362587, 117561, 255]","[362583, 117564, 256]","[362585, 117563, 256]"
75,75,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[332690, 141814, 256]","[332686, 141825, 256]","[332688, 141820, 256]"
76,76,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[308541, 209468, 256]","[308550, 209458, 256]","[308546, 209463, 256]"
77,77,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[380225, 75359, 256]","[380221, 75346, 256]","[380222, 75353, 256]"
78,78,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[253116, 233877, 256]","[253109, 233885, 256]","[253112, 233881, 256]"
79,79,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[240547, 206641, 255]","[240555, 206652, 257]","[240552, 206648, 256]"
80,80,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[150113, 156316, 255]","[150118, 156306, 256]","[150115, 156312, 256]"
81,81,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[336145, 98807, 256]","[336156, 98809, 255]","[336149, 98808, 256]"
82,82,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[177890, 136912, 256]","[177898, 136906, 256]","[177893, 136911, 256]"
83,83,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[333295, 109054, 256]","[333282, 109047, 257]","[333290, 109054, 256]"
84,84,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[288320, 120043, 256]","[288331, 120036, 256]","[288325, 120039, 256]"
85,85,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[260641, 237721, 256]","[260643, 237710, 256]","[260643, 237714, 256]"
86,86,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[362725, 136082, 255]","[362723, 136094, 256]","[362723, 136089, 256]"
87,87,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[270369, 92616, 256]","[270369, 92627, 256]","[270369, 92621, 256]"
88,88,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[344672, 164691, 256]","[344682, 164689, 256]","[344676, 164690, 256]"
89,89,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[369272, 74977, 256]","[369260, 74976, 256]","[369266, 74976, 256]"
90,90,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[120694, 183591, 256]","[120706, 183589, 256]","[120700, 183590, 256]"
91,91,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[266909, 216932, 256]","[266920, 216926, 256]","[266915, 216928, 256]"
92,92,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[379009, 174854, 256]","[379010, 174842, 256]","[379010, 174848, 256]"
93,93,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[335423, 76418, 257]","[335422, 76415, 255]","[335423, 76418, 256]"
94,94,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[449062, 172456, 255]","[449051, 172460, 256]","[449056, 172459, 256]"
95,95,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[411636, 107949, 256]","[411643, 107939, 256]","[411639, 107944, 256]"
96,96,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[307727, 169889, 256]","[307722, 169879, 256]","[307723, 169884, 256]"
97,97,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[342662, 86358, 256]","[342672, 86365, 256]","[342667, 86361, 256]"
98,98,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[359115, 208673, 256]","[359116, 208662, 256]","[359116, 208662, 256]"
99,99,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[468472, 172548, 256]","[468465, 172541, 256]","[468469, 172545, 256]"
100,100,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[370882, 112597, 256]","[370894, 112596, 256]","[370889, 112597, 256]"
101,101,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[424093, 189229, 257]","[424102, 189237, 256]","[424097, 189232, 256]"
102,102,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[414118, 229448, 256]","[414107, 229451, 256]","[414112, 229451, 256]"
103,103,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[287542, 92645, 257]","[287555, 92656, 256]","[287551, 92653, 256]"
104,104,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[394809, 226655, 256]","[394819, 226661, 256]","[394813, 226655, 256]"
105,105,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[357943, 74285, 256]","[357933, 74289, 256]","[357938, 74288, 256]"
106,106,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[400856, 55879, 256]","[400865, 55878, 256]","[400858, 55879, 256]"
107,107,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[272697, 114502, 256]","[272693, 114513, 256]","[272695, 114508, 256]"
108,108,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[400896, 170720, 256]","[400900, 170707, 256]","[400899, 170713, 256]"
109,109,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[380306, 58944, 256]","[380293, 58946, 256]","[380300, 58945, 256]"
110,110,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[356775, 198600, 256]","[356778, 198588, 256]","[356778, 198594, 256]"
111,111,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[393260, 140518, 257]","[393275, 140538, 256]","[393269, 140532, 256]"
112,112,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[165290, 229361, 256]","[165287, 229368, 256]","[165290, 229363, 256]"
113,113,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[165408, 146893, 256]","[165398, 146898, 256]","[165403, 146894, 256]"
114,114,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[318118, 91134, 256]","[318115, 91148, 256]","[318116, 91140, 256]"
115,115,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[372248, 160718, 512]","[372237, 160719, 512]","[372243, 160718, 512]"
116,116,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[368580, 123936, 513]","[368586, 123947, 512]","[368581, 123941, 512]"
117,117,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[467673, 207387, 512]","[467663, 207382, 512]","[467668, 207386, 512]"
118,118,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[357185, 86414, 512]","[357193, 86408, 512]","[357188, 86412, 512]"
119,119,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[276580, 85099, 512]","[276583, 85111, 512]","[276580, 85105, 512]"
120,120,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[356714, 236949, 518]","[356692, 236940, 512]","[356697, 236942, 512]"
121,121,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[369292, 62193, 512]","[369304, 62196, 512]","[369298, 62194, 512]"
122,122,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[188155, 181962, 512]","[188157, 181971, 512]","[188155, 181966, 512]"
123,123,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[428630, 100715, 512]","[428624, 100723, 513]","[428627, 100717, 512]"
124,124,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[275984, 232301, 511]","[275981, 232313, 512]","[275983, 232307, 512]"
125,125,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[329095, 107048, 512]","[329089, 107045, 512]","[329095, 107048, 512]"
126,126,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[269428, 90369, 512]","[269416, 90369, 512]","[269422, 90369, 512]"
127,127,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[253166, 120265, 512]","[253156, 120261, 512]","[253162, 120263, 512]"
128,128,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[226806, 214300, 512]","[226816, 214295, 512]","[226811, 214297, 512]"
129,129,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[439237, 92126, 512]","[439229, 92134, 512]","[439233, 92129, 512]"
130,130,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[407999, 158701, 512]","[407988, 158702, 512]","[407993, 158701, 512]"
131,131,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[317956, 128097, 512]","[317962, 128108, 512]","[317959, 128102, 512]"
132,132,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[371071, 74350, 512]","[371061, 74347, 511]","[371066, 74348, 512]"
133,133,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[403580, 158377, 512]","[403587, 158370, 512]","[403584, 158372, 512]"
134,134,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[296180, 181552, 512]","[296182, 181534, 510]","[296180, 181546, 512]"
135,135,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[421936, 95312, 512]","[421926, 95316, 512]","[421931, 95314, 512]"
136,136,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[444475, 157287, 513]","[444482, 157280, 512]","[444480, 157283, 512]"
137,137,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[384415, 231696, 512]","[384409, 231686, 512]","[384412, 231690, 512]"
138,138,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[296698, 69916, 512]","[296692, 69906, 512]","[296695, 69911, 512]"
139,139,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[350129, 136928, 512]","[350133, 136918, 512]","[350131, 136924, 512]"
140,140,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[318329, 84919, 512]","[318330, 84932, 512]","[318329, 84925, 512]"
141,141,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[339249, 237218, 512]","[339254, 237210, 512]","[339251, 237213, 512]"
142,142,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[156229, 239132, 509]","[156223, 239148, 512]","[156224, 239146, 512]"
143,143,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[212390, 164458, 512]","[212385, 164468, 512]","[212386, 164463, 512]"
144,144,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[433869, 205493, 512]","[433881, 205492, 512]","[433875, 205493, 512]"
145,145,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[447328, 128914, 512]","[447328, 128903, 512]","[447328, 128909, 512]"
146,146,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[477384, 197065, 512]","[477374, 197069, 512]","[477379, 197067, 512]"
147,147,2023-07-01 14:55:35.673208+00:00,NaN,t,NaN,1,1,1,1,"[403884, 104577, 512]","[403887, 104560, 512]","[403884, 104565, 512]"

In [43]:
from cloudvolume import CloudVolume

cv = CloudVolume(
    'https://storage.googleapis.com/h01-release/data/20210729/c3/synapses/precomputed',
    # progress=True, # shows progress bar
    # cache=True, # cache to disk to avoid repeated downloads
    # parallel=True, # uncomment to try parallel download!
)

# Get as mesh object
# mesh = cv.mesh.get(13)
# Save to disk at ./13.obj which can be visualized in MeshLab or Blender
# cv.mesh.save(13, file_format='obj')

KeyError: 'scales'