## Query materialized annotation tables

In [9]:
from caveclient import CAVEclient

In [10]:
url = "https://global.brain-wire-test.org/"
datastack = "fish1_full"

In [11]:
client = CAVEclient(datastack_name=datastack, server_address=url)

In [13]:
client.materialize.get_versions()

[219, 232, 234, 236, 237, 238]

In [14]:
client.materialize.version

238

In [15]:
# get all available tables
client.materialize.get_tables()

['synapses_axax', 'synapses_axde', 'soma_ids_locations']

In [16]:
# get head of the table
client.materialize.query_table(table="soma_ids_locations", 
                               limit=10)

201 - "Limited query to 10 rows

,id,created,superceded_id,valid,tag,pt_supervoxel_id,pt_root_id,pt_position
0,2,2025-04-04 20:09:33.650068+00:00,NaN,t,29371,0,0,"[113536, 28800, 6392]"
1,3,2025-04-04 20:09:33.650790+00:00,NaN,t,18157,0,0,"[114560, 28544, 6389]"
2,4,2025-04-04 20:09:33.651433+00:00,NaN,t,63875,86769337850923130,864691128595615578,"[107328, 34944, 6508]"
3,5,2025-04-04 20:09:33.652081+00:00,NaN,t,99749,85853788530802689,864691128618482916,"[100544, 29184, 6939]"
4,6,2025-04-04 20:09:33.652724+00:00,NaN,t,33793,85643644236726345,864691128611440365,"[98816, 36480, 6710]"
5,7,2025-04-04 20:09:33.653370+00:00,NaN,t,2406,0,0,"[92736, 33280, 7051]"
6,8,2025-04-04 20:09:33.653992+00:00,NaN,t,151363,84869175935238144,864691128595769035,"[93184, 33664, 7051]"
7,9,2025-04-04 20:09:33.654759+00:00,NaN,t,3613,0,0,"[112256, 35840, 6591]"
8,10,2025-04-04 20:09:33.655378+00:00,NaN,t,41162,0,0,"[94080, 34752, 7024]"
9,11,2025-04-04 20:09:33.655993+00:00,NaN,t,21765,0,0,"[99392, 30208, 6740]"

In [ ]:
# query soma by lores_id
client.materialize.query_table(table="soma_ids_locations",
                                filter_equal_dict = {'tag': "63875"}) # tag is lores_id

,id,created,superceded_id,valid,tag,pt_supervoxel_id,pt_root_id,pt_position
0,4,2025-04-04 20:09:33.651433+00:00,NaN,t,63875,86769337850923130,864691128595615578,"[107328, 34944, 6508]"