## Query Synapses
This notebook demonstrates how to query synapses while proofreading is ongoing in Fish1 CAVE.

In [1]:
from caveclient import CAVEclient
import datetime

In [2]:
url = "https://global.brain-wire-test.org/"
datastack = "fish1_full"

In [3]:
client = CAVEclient(datastack_name=datastack, server_address=url)

In [8]:
client.materialize.get_versions()
print("Mat version: ", client.materialize.version)
client.materialize.get_tables()

Mat version:  282

['synapses_axax', 'synapses_axde', 'soma_ids_locations']

Fish1 has two synapse tables. `synapses_axax` is the synaptic connections between axon and axon. `synapses_axde` is the synaptic connections between axon and dendrite.

In [18]:
root_id = 864691128630396036
axax = client.materialize.query_table(table="synapses_axax",
                                    filter_equal_dict= {'post_pt_root_id':root_id})
axax.head()

,id,created,superceded_id,valid,size,pre_pt_supervoxel_id,pre_pt_root_id,post_pt_supervoxel_id,post_pt_root_id,pre_pt_position,post_pt_position,ctr_pt_position
0,4099086,2024-12-06 22:55:39.622547+00:00,NaN,t,NaN,81915199031870126,864691128625512743,81915199098978507,864691128630396036,"[35985, 22435, 4350]","[36000, 22443, 4358]","[nan, nan, nan]"
1,2260090,2024-12-06 22:52:57.309128+00:00,NaN,t,NaN,81985361617617127,864691128598606952,82055730361794635,864691128630396036,"[36338, 21730, 4228]","[36378, 21707, 4236]","[nan, nan, nan]"
2,245435,2024-12-06 22:49:52.924402+00:00,NaN,t,NaN,81915199031870126,864691128625512743,81915199031870961,864691128630396036,"[36042, 22461, 4338]","[36044, 22474, 4341]","[nan, nan, nan]"
3,6661969,2024-12-06 22:59:54.846946+00:00,NaN,t,NaN,82055936654443807,864691128626271119,82055936654443460,864691128630396036,"[36472, 22514, 4529]","[36480, 22520, 4520]","[nan, nan, nan]"
4,9416749,2024-12-06 23:04:12.539701+00:00,NaN,t,NaN,81985567776048290,864691128626195731,81985567776048850,864691128630396036,"[36250, 22497, 4298]","[36256, 22460, 4303]","[nan, nan, nan]"

In [16]:
axde = client.materialize.query_table(table="synapses_axde",
                                    filter_equal_dict= {'post_pt_root_id':root_id})
axde.head()

Empty DataFrame
Columns: [id, created, superceded_id, valid, size, pre_pt_supervoxel_id, pre_pt_root_id, post_pt_supervoxel_id, post_pt_root_id, pre_pt_position, post_pt_position, ctr_pt_position]
Index: []

### Live Synapse Queries
As proofreading is ongoing, neuron IDs change. If you want to query the most recent or any historic data, you can use the live synapse queries.

In [19]:
# check if root ID is the most recent root ID
now = datetime.datetime.now(datetime.timezone.utc)
is_latest = client.chunkedgraph.is_latest_roots([root_id], timestamp=now)
latest_id = client.chunkedgraph.get_latest_roots(root_id, timestamp=now)
print(is_latest) 
print(latest_id)

[ True]
[864691128630396036]

In [21]:
df=client.materialize.query_table(table="synapses_axax", # or "synapses_axde"
                                  timestamp = datetime.datetime.now(datetime.timezone.utc),
                                  filter_equal_dict = {'post_pt_root_id': latest_id[0]})
print(len(df))
df.head()

38

,id,created,superceded_id,valid,size,pre_pt_supervoxel_id,pre_pt_root_id,post_pt_supervoxel_id,post_pt_root_id,pre_pt_position,post_pt_position,ctr_pt_position
0,2260090,2024-12-06 22:52:57.309128+00:00,NaN,t,NaN,81985361617617127,864691128598606952,82055730361794635,864691128630396036,"[36338, 21730, 4228]","[36378, 21707, 4236]","[nan, nan, nan]"
1,245435,2024-12-06 22:49:52.924402+00:00,NaN,t,NaN,81915199031870126,864691128625512743,81915199031870961,864691128630396036,"[36042, 22461, 4338]","[36044, 22474, 4341]","[nan, nan, nan]"
2,4099086,2024-12-06 22:55:39.622547+00:00,NaN,t,NaN,81915199031870126,864691128625512743,81915199098978507,864691128630396036,"[35985, 22435, 4350]","[36000, 22443, 4358]","[nan, nan, nan]"
3,9416749,2024-12-06 23:04:12.539701+00:00,NaN,t,NaN,81985567776048290,864691128626195731,81985567776048850,864691128630396036,"[36250, 22497, 4298]","[36256, 22460, 4303]","[nan, nan, nan]"
4,6661969,2024-12-06 22:59:54.846946+00:00,NaN,t,NaN,82055936654443807,864691128626271119,82055936654443460,864691128630396036,"[36472, 22514, 4529]","[36480, 22520, 4520]","[nan, nan, nan]"